@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  background-color: hsl(212, 45%, 89%);
  padding: 10px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  background-image: url("../images/image-qr-code.png");
  border-radius: 0.8rem;
}

.text-field {
  padding: 20px 15px;
}

.text-field .title {
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.text-field .description {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
